/*Hay que enlazar con el html en el head*/

/* Cambiar el fondo */
body {
    background-color: rgba(69, 109, 184, 0.514);
}

h1 {
    text-align: center;
    text-shadow: 3px 3px rgba(128, 128, 128, 0.575);
}
/* Para cambiar una etiqueta en concreto voy a h2 especifico y creo un id*/
#sub{
    text-align: center;
    font-size:large;
}

#who{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
/* cambiar toodas las etiquetas h2 */
h2 {
    color: rgb(45, 45, 185);
    /* opacity: ;*/
    border: 3px solid rgb(255, 105, 113); /* Si quiero que el borde sea punteado usar dashed
      si quiero que sea con puntos dotted */
} 

h3{
    text-align:left;
    font-weight: bold;
    color: rgb(216, 87, 73);
    border-bottom: 3px solid rgb(27, 20, 19);
}

a{
    text-align:left;
    font-weight: bold;
    color: rgb(45, 106, 124);
}

/* Cambiar la fuente. Vamos a google fonts y a la derecha copiar codigo
de link y lo ponemos en el head de html con etiqueta link, despues ir a
la fuente y copiar el especifico de css y lo copio en body para que cambie
toda la pag */

/* Para dar sombra al texto usamos textshadow que coge el texto lo copia
y lo pega en los pixeles especificados. Por ello hay que desenfocar y color */

/* Para centrar el texto usamos text-aling: y donde queramos ubicar. PARA
COSAS ESPECÍFICAS usar id y # siempre va a prevalecer el especifico frente 
al general */

/* Para cambiar el tamaño de la letra usamos font-size
El estilo de css prebalece sobre el estilo que da html hay dos formatos el absoluto(fijo)
y el relativo (adaptativo)*/